html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

#main {
    flex: 1;
}

#main>.columns {
    min-height: 100%;
}


/* Style buttons */
.btn {
    background-color: transparent;
    border: none;
    padding: 2px 2px;
    cursor: pointer;
}

/* Darker background on mouse-over */

.btn:hover {
    background-color: lightgrey;
}