html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

#main {
    flex: 1;
}

#main>.columns {
    min-height: 100%;
}


/* Style buttons */

.btn {
    background-color: lightgrey;
    /* Blue background */
    border: none;
    /* Remove borders */
    padding: 0px 0px;
    /* Some padding */
    cursor: pointer;
    /* Mouse pointer on hover */
}


/* Darker background on mouse-over */

.btn:hover {
    background-color: grey;
}